video{
    
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    justify-content: center;
}


html, body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
video {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p{
    font-size: 17px;
    font-weight: bold;
    font-family: Helvetica;
    color: #fff;
    z-index: 1;
    text-align: left;
    font-size: 250%;
    line-height: 1.5;
    font-weight: 420;
    letter-spacing: -0.022em;
    font-family: "Helvetica Neue";
    background-color: transparent;
    margin: 15% 15% 16% 16%;
    line-height: normal;
    overflow: hidden;
    

}

